.body{
    max-width: 500px;
    margin-left: 35%;
    margin-top: 6%;
    background-image: url(back.jpg);
    background-size: cover;
}
.all{
    width: 300px;
    padding: 50px;
    margin: 20px;
    padding: 6%;
    size: 40%;
    font-family: monospace;
    font-size: 20px;

}
.loginbox{
    height: 30px;
    width: 275px;
    font-size: 17px;
    font-family: monospace;
    padding: 5px;
    border-radius: 6px;
    border: none;

}
.buttonbox {
    background-color: deepskyblue;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 45px;
    padding: 0 16px;
    width: 110px;
}