.body{
    max-width: 200px;
    margin-left: 19%;
    margin-top: 6%;
    background-image: url(sign1.jpg);
    background-size: cover;
}

.sign_up_box{
    height: 30px;
    width: 275px;
    font-size: 17px;
    font-family: monospace;
    padding: 5px;
    border-radius: 6px;
    border: none;

}
.buttonbox {
    background-color: deepskyblue;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 45px;
    padding: 0 16px;
    width: 110px;
    margin-left: 80px;
}
.h{
    margin-left: 40%;
    border: none;
    border-radius: 6px;
    line-height: 45px;
    padding: 0 16px;
    width: 210px;
}